PORT=3000
JWT_SECRET=your_jwt_secret_here
DATABASE_URL="mysql://root:password@localhost:3306/dbname"
NODE_ENV=development
ARK_API_KEY=豆包apikey
ARK_MODEL=doubao-seed-2-0-lite-260215
NODE_ENV=development
